@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    font-family: 'Share Tech Mono', monospace;
    background-color: #DCD7C9;
}

h1,h3 {
    font-family: 'Share Tech Mono', monospace;
    padding-left: 5%;
    padding-top: 2.5%;
    margin-bottom: 30px;
}

.menu {
    padding-left: 5%;
    font-size: 1.5em;
    opacity: 0;
    transform: translateY(50px);
    animation: slideInUp 1s ease-in-out forwards;
}

@keyframes slideInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

a {
    color: black;
    transform: translateY(50px);
    animation: slideInUp 1s ease-in-out forwards;
}

a:hover {
    color:#393E46;
}

.container {
    padding-left: 5%;
    transform: translateY(50px);
    animation: slideInUp 1s ease-in-out forwards;
}

input, button {
    font-family: 'Share Tech Mono', monospace;   

}

.location {
    font-size: 1.5em;
}
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  